#!name = 滴滴出行
#!author = 怎么肥事
#!update = 2026-5-14

host, gwp.xiaojukeji.com, reject
ip-cidr, 139.199.244.6/32, reject
ip-cidr, 113.46.225.9/32, reject
ip-cidr, 139.199.244.7/32, reject
ip-cidr, 113.46.225.8/32, reject
ip-cidr, 123.207.209.39/32, reject
ip-cidr, 123.207.209.60/32, reject
ip-cidr, 139.199.240.15/32, reject
ip-cidr, 139.199.240.12/32, reject
ip-cidr, 116.85.3.37/32, reject
ip-cidr, 162.14.157.2/32, reject
ip-cidr, 162.14.157.24/32, reject
ip-cidr, 116.85.1.0/32, reject
ip-cidr, 116.85.1.17/32, reject
ip-cidr, 116.85.1.22/32, reject
ip-cidr, 116.85.3.25/32, reject

^https:\/\/res\.xiaojukeji\.com\/resapi\/activity\/getMulti\? url reject-dict
^https:\/\/res\.xiaojukeji\.com\/resapi\/activity\/xpget url reject-dict
^https:\/\/ct\.xiaojukeji\.com\/agent\/v3\/feeds url reject-dict
^https:\/\/freight\.xiaojukeji\.com\/gateway url reject-dict
^https:\/\/daijia\.kuaidadi\.com:443\/gateway url reject-dict
^https:\/\/res\.xiaojukeji\.com\/resapi\/activity\/mget url reject-dict
^https:\/\/conf\.diditaxi\.com\.cn\/homepage\/v\d\/other\/fast url reject-dict
^https:\/\/conf\.diditaxi\.com\.cn\/homepage\/v\d\/other\/slow url reject-dict
^https:\/\/conf\.diditaxi\.com\.cn\/dynamic\/conf url reject-dict
^https:\/\/api\.udache\.com\/gulfstream\/watson\/v1\/bubble\/getBubble url reject-dict
^https:\/\/res\.xiaojukeji\.com\/resapi\/activity\/getInsActivityV2 url reject-dict
^https:\/\/conf\.diditaxi\.com\.cn\/ota\/na\/yuantu\/infoList url reject-dict
